{% extends 'get_data/layout.html' %}
{% load static %}
{% block title %}
Main Page
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'get_data/css/levels.css' %}">
<style>
</style>
{% endblock %}
{% block body %}
<div>Requested
    <!-- <input class="btn btn-primary" type="submit" value="connect" > -->
    <a href="http://127.0.0.1:8500/add/">
        <input class="btn btn-primary" type="submit" value="Daily: {{ last_date }}">
    </a>
    <a href="http://127.0.0.1:8500/add_2h/">
        <input class="btn btn-primary" type="submit" value="2H: {{ last_2h }}">
    </a>
    &nbsp;Calcs:
    <a href="http://127.0.0.1:8500/atrtotal/">
        <input class="btn btn-primary" type="submit" value="DT_ATR: {{ last_atr_date }}">
    </a>
    <a href="http://127.0.0.1:8500/mp2h/">
        <input class="btn btn-primary" type="submit" value="2HMP: {{ last_2hmp_date }}">
    </a>
</div>
<div class="container-fluid">
    <h1>Global Situation</h1>

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col">
                sector
            </div>
            <div class="col">
                asset
            </div>
            <div class="col">
                price
            </div>
            <div class="col">
                last_two_ses
            </div>
            <div class="col">
                atr_%
            </div>
            <div class="col">fut_pos</div>
            <div class="col">stop%</div>
            <div class="col">A_levs</div>
            <div class="col">2H</div>
            <div class="col">pos_amount$</div>
        </div>
        {% for asset in assets %}
        <div class="row">
            <div class="col">
                {{asset.sector}}
            </div>
            <div class="col">
                {{asset.name}}
            </div>
            <div class="col" id="{{asset}}_price">
                <!-- <div class="col" id="{{asset}}_price" hx-get="http://127.0.0.1:8500/api/get_ajax_data" hx-trigger="every 5s"> -->
                <!-- <script>
                    var price = document.getElementById("{{asset}}_price");
                    price.innerHTML = 0.0033;
                </script> -->
            </div>
            <div class="col" id="{{asset}}_two_ses">
                high|low|inside
            </div>
            <div class="col">
                <div  id="{{asset}}_atr_prc"></div>
                <!-- <div>***||||||||</div> -->
                <meter id="{{asset}}_atr_prc_scale" min="0" low="10" optimum="50" high="90" max="100" value="0"></meter>
            </div>
            <div class="col" id="{{asset}}_fut_pos"></div>
            <div class="col" id="{{asset}}_stop_prc"></div>
            <div class="col">
                <div id="{{asset}}_half_atr">0.5</div>
                <div id="{{asset}}_three_quarter_atr">0.75</div>
                <div id="{{asset}}_point_atr">1</div>
            </div>
            <div class="col">
                <div id="{{asset}}_ysd_body_level">Open</div>
                <div id="{{asset}}_ysd_tail">TailH</div>
                <div id="{{asset}}_ysd_body_border">BodyH</div>
            </div>
            <div class="col" id="{{asset}}_amount"></div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block js %}
<script src="https://unpkg.com/htmx.org@1.9.11"></script>
<script type="text/javascript" src="{% static 'get_data/js/script.js' %}"></script>
{% endblock %}